@{
    ViewData["Title"] = "利用NPOI套版更改excel內容";
}

<h1>@ViewData["Title"]</h1>

<ul>
    <li>下面這個檔案，D7是沒有資料的</li>
    <li><a href="~/Excel/活頁簿1.xlsx">基礎Excel檔 可以預先加入底色</a></li>
    <li>下面這個檔案，D7被後端程式寫入了資料</li>
    <li><a href="~/Excel/活頁簿1_儲存.xlsx">程式擷取基礎Excel檔，經過後端運算後轉存的 Excel 檔</a></li>
</ul>
